services:
  api:
    build: .
    ports:
      - "8000:8000"
    environment:
      MODEL_URI: "models:/credit-risk-model@Production"
      MLFLOW_TRACKING_URI: "sqlite:////app/mlflow.db"
    volumes:
      - ./mlflow.db:/app/mlflow.db
      - ./mlruns:/app/mlruns
